h1 {
  display: flex;
  grid-area: total;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  margin: 0;
  font-size: 5rem;
}

button {
  font-size: 2rem;
  border: 1px solid #333;
  flex: 1 0 30%;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "total total total results"
  "digit digit digit results"
  "digit digit digit results"
  "digit digit digit results"
  "digit digit digit results";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.digits {
  grid-area: digit;
  display: flex;
  flex-wrap: wrap;
}

.results {
  grid-area: results;
  padding: 1rem;
  overflow-y: auto;
  max-height: 910px;
}
